<%- include('partials/header') %>   

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Xgenic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item active">
            <a class="nav-link" href="/main">Post <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
<!--
<div class="jumbotron centered bg-secondary ppadding">
    <div class="container">
        <h3> Write new post: </h3>
 form for positng posts
        <form action = "/addPost1" method = "POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="title" class="" name="title">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="content" class="" name="content">
            </div>
            <button type="submit" class="btn btn-dark">Post</button>
        </form>
    </div>-->
    <div class="container">
        <div class="jumbotron centered">
          <h1 class="display-3">Xgenic Web forum</h1>
          <h3 class="display-4">Submissions</h3>
      
          <form action="/submit" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <label for="title">Title</label>
                <input type="text" class="form-control text-center" name="Submission" placeholder="Relevant Title">
            </div>
            <div class="form-group">
                <label for="content">content</label>
                <textarea class="form-control" id="content" rows="3" placeholder="what would you like to share?"></textarea>
              </div>

            <button type="submit" class="btn btn-dark">Post</button>
          </form>
      
      
        </div>
    <br>
   
        <div class="container centered">
          <h1 class="display-4">all posts:</h1>
        
        <br>
        <% dataSQL.forEach(function(dataSQLx){ %>
            <div class="pbox">
                <h2><%= dataSQLx.title %></h2>
                <h4>By: <%= dataSQLx.email%><% if(dataSQLx.userType!='user'){%><i> - <%= dataSQLx.userType %></i><%}%></h4>
                <p><%= dataSQLx.content %> </p>

            </div>
        <% }); %>
    
</div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<%- include('partials/footer') %>
 