body {
  background-color: #52595f !important;

 } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */


.centered {
  background-color: #52595f;;
  padding-top: 100px;
  text-align: center;
}

.post-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #3b4147;
}

.ppadding {
  padding: 50px 0 20px 0;

}

.pcontainer {
  background-color: #abb3ba;
  margin: 0;
  padding: 20px 0 10px 0;
}

.pbox {
  align-self: center;
  text-align: left;
  word-break: break-all;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  line-height: 150%;
  max-width: 600px;
  margin: 5px auto;
}

.pbox h2 {
  font-size: 25px;
  margin: 0 0 2px 0;
}

.pbox h4 {
  font-size: 15px;
  color: #777;
}
